@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: tomato;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

footer {
  background-color: grey;
  padding: 2vw;
}

h3 {
  font-size: 1.5vw;
}

h4 {
  font-size: 1vw;
}

h5 {
  font-size: 0.8vw;
}

img {
  /* width: 100%; */
}

div {
  /*border: 1px solid green;*/
}

#footer-div {
  display: flex;
  gap: 1vw;
  justify-content: center;
}

#footer-left {
  text-align: end;
  width: 100%;
  color: white;
}

#footer-right {
  width: 100%;
  color: darkgray;
  align-self: flex-end;
}

.ebook-item {
  margin: 5vw;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  border: 2px solid darkgray;
  border-radius: 8px;
}

.ebook-image-div {
  align-self: center;
}

.content-right {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  text-align: center;
}
