@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 120px;
  background-color: tomato;
  color: white;
}

nav ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

footer {
  background-color: grey;
  padding: 2vw;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 2.5vh;
}

h5 {
  font-size: 2vh;
}

#footer-div {
  display: flex;
  gap: 2vh;
  justify-content: center;
  margin: 3vh 0;
}

#footer-left {
  text-align: end;
  width: 100%;
  color: white;
}

#footer-right {
  width: 100%;
  color: darkgray;
  align-self: center;
  border-left: 2px solid tomato;
  padding-left: 2vh;
}

#ebook-list {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  #ebook-list {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0;
    margin-left: 2.5vh;
    margin-right: 2.5vh;
  }

  #ebook-list::after {
    content: '';
    flex: auto;
  }
}

.ebook-item {
  margin: 5vh;
  padding: 5vh;
  display: flex;
  flex-direction: row;
  border: 2px solid darkgray;
  border-radius: 8px;
  gap: 4vh;
}

@media only screen and (min-width: 768px) {
  .ebook-item {
    flex-direction: column;
    margin: 5vh 2.5vh;
    padding: 5vh 2.5vh;
    width: 45%;
    justify-content: flex-start;
    gap: 0;
  }
}

@media only screen and (min-width: 992px) {
  .ebook-item {
    width: 29.5%;
  }
}

@media only screen and (min-width: 1200px) {
  .ebook-item {
    width: 22%;
  }
}

.ebook-image-div {
  align-self: center;
}

.content-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media only screen and (min-width: 768px) {
  .content-div {
    justify-content: space-between;
    height: 100%;
  }
}

.content-right {
  display: flex;
  gap: 1vw;
  justify-content: start;
  margin-top: 2vh;
}

@media only screen and (min-width: 768px) {
  .content-right {
    justify-content: center;
  }
}

.content-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: center;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .content-left {
    align-items: center;
    text-align: center;
  }
}

.ebook-list-title {
  font-size: 4vh;
}

.ebook-list-author {
  font-size: 2.5vh;
  color: darkgrey;
  font-style: italic;
}

.ebook-like-icon {
  color: red;
}

.ebook-like-count {
  font-size: 2vh;
}

.contact-button-div {
  margin-top: 2vh;
  text-align: start;
}

@media only screen and (min-width: 768px) {
  .contact-button-div {
    text-align: center;
  }
}

.contact-button {
  padding: 1vh 3vh;
  background-color: white;
  border: 2px solid tomato;
  border-radius: 4px;
  font-size: 2vh;
}

.btn-comment {
  padding: 1vh 3vh;
  background-color: white;
  border: 2px solid tomato;
  border-radius: 4px;
  font-size: 2vh;
}

.contact-button:hover,
.btn-comment:hover {
  background-color: tomato;
  border: 3px solid darkgrey;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

/* @media only screen and (min-width: 768px) {
  .work-item-popup {
    margin: 77px 16vw;
  }
}

@media only screen and (min-width: 1440px) {
  .work-item-popup {
    margin: 77px 22vw;
  }
} */

/* Item details */

.popup-section {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
}

.popup {
  width: calc(100vw - 20%);
  height: calc(100vh - 20%);
  margin: 60px auto;
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 16px 24px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.item-details {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cross-icon {
  margin-right: 0;
  margin-left: auto;
  cursor: pointer;
}

.book {
  border: 1px solid #000;
  width: 100%;
  height: 300px;
}

.book-title {
  text-align: center;
}

.book-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 40px;
}

.hide {
  display: none;
}

.text-center {
  text-align: center;
}

.cross-icon img {
  width: 20px;
  height: 20px;
}

.book-img {
  width: 80%;
  height: 450px;
  margin: 0 auto;
}

/* comments details */

.comments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.comment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* add comment */

.add-comment {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
}

form {
  width: 100%;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

input,
textarea {
  padding: 8px 10px;
}

input:focus,
textarea:focus {
  border: none;
  outline: 2px solid tomato;
}

@media only screen and (max-width: 768px) {
  .popup {
    width: 80%;
  }
}
